{% extends "index.html" %}
{% block content %}
    <div class="col-md-8">
        <div >
            <h1>About Page</h1>
            <div class="media-body">
                <p>The API is based at <a href="https://hacker-news.firebaseio.com">https://hacker-news.firebaseio.com</a>.</p>
                <p>Have you ever heard of Hacker News? It's a great source of tech-related news.</p>
                <p>They provide a public API at <a href="https//hackernews.api-docs.io.">https//hackernews.api-docs.io.</a></p>
                <p>This app gets resources off the API and displays them with a user friendly UI</p>
            </div>
        </div>
        <div>
            <h2>Designed by Okeke Charles C.</h2>	
        </div>
    </div>
{% endblock content %}