{% extends "index.html" %}
{% block content%}
	<div class="col-md-8">
		<article class="media content-section">
			<img class="rounded-circle account-img" src="{{url_for('static', filename='profile_pics/default.jpg')}}">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ item.by }}</a>
					<small class="text-muted">ID: {{item.item_hnid}}</small>
					<small class="text-muted">Type: {{item.item_type}}</small>
					<small class="text-muted">Date: {{ item.time.strftime('%Y-%m-%d %H:%M')}}</small>
				</div>
				<h2><a class="article-title" href="{{url_for('item', item_id= item.id)}}">{{ item.title }}</a></h2>
				<p class="article-content">{{ item.text }}</p>
				<p class="article-content">url: {{ item.url }}</p>
			</div>
		</article>
	</div>
{% endblock content %}