{% extends "index.html" %}
{% block content%}
    <!-- SEARCH BAR -->
    <div class="col-md-6" >
        <div class="header-search">
            <form id="SearchForm" method="GET" action="{{url_for('search')}}">
                <select class="search-select" id="sltFilterSearch">
                    <option value="">Filter</option>
                    <option value="Type 1" >Type </option>
                    <option value="Type 2" >item_hnid</option>
                    <option value="Type 3" >Text</option>
                    <option value="Type 4" >Title</option>
                    <option value="Type 5" >by(author)</option>
                </select>
                <input class="search-input" name="query"  id="txtSearch" placeholder="Search here" >
                <button class="search-btn" >Search</button>
                <span id="SearchResult"></span>
            </form>
        </div>
    </div>
    <!-- END SEARCH BAR -->
    <div class="col-md-8">
        {% for item in items: %}
            <article class="media content-section">
                <img class="rounded-circle account-img" src="{{url_for('static', filename='profile_pics/default.jpg')}}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ item.by }}</a>
                        <small class="text-muted">HNId: {{item.item_hnid}}</small>
                        <small class="text-muted">Type: {{item.item_type}}</small>
                        <small class="text-muted">{{ item.time.strftime('%Y-%m-%d %H:%M')}}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ item.title }}</a></h2>
                    <p class="article-content">{{ item.text }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}